
body {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin: 0px;
}
.header {
    display: flex;
    flex-direction: row;
    background-color: chartreuse;
    width: 100%;
    padding: 5px;
}
.main {
    height: 100%; 
    width: 100%; 
    flex-direction: column;
    align-items: center;
}
.card {
    padding: 30px;
    display: flex;
    border: solid 1px;
    border-radius: 5px;
    width: 50%; 
    flex-direction: column;
    justify-self: center;
    gap: 8px;
}
.footer {
    position: sticky;
    flex-direction: row;
    width: 100%;
}
.card-header{
    margin: 0;

}